article {
    margin: 60px 0;
    text-align: center;
}

article .art1,
article .art2,
article .art3,
.button.free.inArticle {
    padding: 0 15px;
}

article .art1 ul,
article .art2_inner.inner2 ul {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

article .art1 ul li,
article .art2_inner.inner1 ul li,
article .art2_inner.inner2 ul li {
    background-color: white;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 60px;
    padding: 2em;
    margin: 15px 0;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
}

article .art1 ul li:first-child,
article .art2_inner.inner1 ul li:first-child,
article .art2_inner.inner2 ul li:first-child {
    margin-top: 0;
}

article .art1 ul li:last-child,
article .art2_inner.inner1 ul li:last-child,
article .art2_inner.inner2 ul li:last-child {
    margin-bottom: 0;
}

article .art1 ul li img {
    max-width: 60%;
}

article .art1 ul li span {
    margin-top: 1em;
}

article .art1 ul li:active {
    transform: scale(0.97);
}

article .art1 h3 {
    margin: 30px 0;
}

.button.free.inArticle {
    font-size: 1.5rem;
    position: sticky;
    top: 30px;
    z-index: 5;
}

article .art2 {
    margin-top: 60px;
}

article .art2 .infoPower {
    margin: 30px 0;
}

article .art2 .infoPower2 {
    margin-bottom: 30px;
}

article .art2_inner.inner1 {
    margin-top: 30px;
}

article .art2_inner.inner1 > h2 {
    margin: 30px 0;
}

article .art2_inner.inner1 ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

article .art2_inner.inner2 {
    margin-top: 60px;
}

article .art2_inner.inner2 .inner2_art h3 {
    margin-top: 30px;
}

article .art2_inner.inner2 .sonota {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article .art2_inner.inner2 .sonota span:last-child {
    margin-top: 30px;
}

article .art3 h2 {
    margin-bottom: 30px;
}

article .art3 h3 {
    margin-bottom: 30px;
}

article .art3 h3:last-child {
    margin-bottom: 0;
}

article .art2_inner.inner2 ul li span:last-child {
    font-size: 0.7rem;
    line-height: 0.8rem;
}

article h2 strong,
article h3 strong {
    color: #d81b60;
}
