article{
    font-size: 1.6rem;
    margin: 30px 0px 30px 0px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h2{
    margin: 0px 0px 50px 0px;
}

.art1, .art2, .partner{
    margin: 30px 0px 30px 0px;
}

.art1, .art2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art1 span{
    font-size: 1.2rem;
    margin-top: 20px;
}

.art1 ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.art1 ul li{
    background-color: teal;
    width: 225px;
    height: 225px;
    margin: 0px 10px 0px 10px;
}

.button.free.inArticle{
    width: 20%;
    padding: 10px 0px 10px 0px;
    background-color: #07b1ec;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}