.banner {
    padding: 0 15px;
    height: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0px 0px 18px -5px rgba(0, 0, 0, 0.7);
}

.banner:after {
    content: "";
    position: absolute;
    z-index: -3;
    opacity: 0.8;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ad14568e 0%, rgba(194, 24, 92, 0.9) 74%), url("./imgs/bg.jpg");
}

.banner .inner {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

.banner .inner .innerH1 h1 {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.9rem;
    letter-spacing: 1px;
}

.banner .inner span {
    margin-top: 1em;
}

.banner .inner_imageBox {
    margin-top: 3em;
}

.banner .inner_imageBox img {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}

.banner .inner .innerH1 h1 strong {
    color: #d81b60;
}

.banner .inner .photoBox {
    display: none;
}
