form {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin-bottom: 30px;
}

form .pure-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

form .pure-group:first-child {
    margin: 0;
}

form .pure-group:last-child {
    margin: 0;
}

form .pure-group input {
    all: unset;
    background-color: white;
    height: 48px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.3);
}

form .pure-group textarea {
    all: unset;
    background-color: white;
    height: 100px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.3);
}

form .pure-group * {
    margin: 8px 0;
}

.button-success.pure-button.button-xlarge {
    all: unset;
    background-color: #d81b60;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 60px;
    cursor: pointer;
}

.button-success.pure-button.button-xlarge:active {
    transform: scale(0.95);
    border: none;
    outline: none;
}
