footer{
    margin-top: 60px;
    width: 100%;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 0.8rem;
    padding: 30px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerFooterContainer{
    display: flex;
}

.innerFooterContainer_wrap{
    display: flex;
}

.innerFooterContainer ul{
    margin-right: 15px;
}

.innerFooterContainer ul li{
    margin-top: 10px;
    line-height: 0.9rem;
}

footer h2{
    font-size: 1rem;
    margin-bottom: 20px;
}

.prize img{
    width: auto;
    height: 40px;
}