footer {
    width: 100%;
    font-size: 0.6rem;
    padding: 30px;
    color: rgba(255, 255, 255, 0.8);
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0.8rem;
}

footer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

footer .innerFooterContainer,
footer .prize {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
}

footer .innerFooterContainer .innerFooterContainer_wrap {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

footer .innerFooterContainer .innerFooterContainer_wrap ul {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
}

footer .prize ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

footer .prize ul li img {
    height: 30px;
    width: auto;
    margin-right: 8px;
}
